#box {
    bottom: 0;
    height: 15vh;
    background-color: red;
    width: 20vw;
    position: absolute;
    z-index: 15;
    margin-left: 20vw;
}

#rock-div {
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.cave-floor {
    height : 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.torch {
    height: 15vh;
    width: 3vw;
    position: absolute;
    margin-top: 70vh;
}
#torch {
    margin-left: 25vw;
}
#torch2 {
    margin-left: 45vw;
}
#torch3 {
    margin-left: 65vw;
}
#torch4 {
    margin-left: 85vw;
}
.outside-floor {
    height : 100vh;
    margin-top: 0vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#treasure {
    height: auto;
    width: 10%;
    bottom: 0;
    margin-left: 10%;
    transform: translateX(-50%);
    position: absolute;
}

#pop-up {
    position: absolute;
    height: 20vh;
    width: 20vw;
    font-size: 4vmin;
    margin-left: 40vw;
    margin-top: 40vh;
    z-index: 10;
    background-color: antiquewhite;
    border: black .2vmax solid;
    text-align: center;
    display: none;
}

#cave-floor {
    height : 60vh;
    margin-top: 40vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}
.falling-rocks {
    height: auto;
    width: 7vmax;
    margin-top:0vh;
    position: absolute;
}

#character {
    height: auto;
    width: 10%;
    bottom: 0;
    left: 48%;
    position: absolute;
}

.red-rocks {
    height: auto;
    width: 5vw;
    margin-top:0vh;
    position: absolute;
    background-color:red
}

#collapse-btn {
    width: 20vw;
    margin-left:30vw;
    height: 30vh;
    margin-top: 35vh;
    background-color: red;
    position:absolute;
}

#roof-btn {
    width: 20vw;
    margin-left:50vw;
    height: 30vh;
    margin-top: 35vh;
    background-color: blue;
    position:absolute;
}

.rockslide0 {
    animation: rockslide0 1200ms linear both;
    }
    @keyframes rockslide0 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(95vh)} 
}

.rockslide1 {
    animation: rockslide1 1100ms linear both;
    }
    @keyframes rockslide1 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(90vh)} 
}

.rockslide2 {
    animation: rockslide2 1000ms linear both;
    }
    @keyframes rockslide2 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(85vh)} 
}

.rockslide3 {
    animation: rockslide3 900ms linear both;
    }
    @keyframes rockslide3 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(80vh)} 
}

.rockslide4 {
    animation: rockslide4 800ms linear both;
    }
    @keyframes rockslide4 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(75vh)} 
}

.rockslide5 {
    animation: rockslide5 700ms linear both;
    }
    @keyframes rockslide5 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(70vh)} 
}

.rockslide6 {
    animation: rockslide6 600ms linear both;
    }
    @keyframes rockslide6 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(65vh)} 
}

.rockslide7 {
    animation: rockslide7 500ms linear both;
    }
    @keyframes rockslide7 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(60vh)} 
}

.rockslide8 {
    animation: rockslide8 400ms linear both;
    }
    @keyframes rockslide8 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(55vh)} 
}

.rockslide9 {
    animation: rockslide9 300ms linear both;
    }
    @keyframes rockslide9 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(50vh)} 
}

.rockslide10 {
    animation: rockslide10 200ms linear both;
    }
    @keyframes rockslide10 { 
    0% { transform: translateY(40vh)} 
    100% { transform: translateY(45vh)} 
}

.jump {
    animation: jump 500ms linear both;
    }
    @keyframes jump { 
    0% { transform: translateY(0vh)} 
    50% { transform: translateY(-20vh)} 
    100% { transform: translateY(0vh)} 
}
