*{
    margin:0;
    padding: 0;
}

#rocket {
    position: absolute;
    top: 61.07%;
    transform: translateY(-50%) translateX(-50%);
    left: 69.07%;
    width: 3%;
    height: auto;
    z-index: 10;
    margin-top: -1.75%
}

#sun {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 58%;
    width: 8%;
    height: auto;  
}

#mercury {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
    width: 2%;
    height: auto;
}

#venus {
    position: absolute;
    top: 41.05%;
    transform: translateY(-50%) translateX(-50%);
    left: 49.05%;
    width: 3%;
    height: auto;
}

#earth {
    position: absolute;
    top: 61.07%;
    transform: translateY(-50%) translateX(-50%);
    left: 69.07%;
    width: 3%;
    height: auto;
}

#mars {
    position: absolute;
    top: 37.69%;
    transform: translateY(-50%) translateX(-50%);
    left: 72%;
    width: 3%;
    height: auto;
}

#jupiter {
    position: absolute;
    top: 32.25%;
    transform: translateY(-50%) translateX(-50%);
    left: 44%;
    width: 6%;
    height: auto;
}

#saturn {
    position: absolute;
    top: 18%;
    transform: translateY(-50%) translateX(-50%);
    left: 58%;
    width: 4%;
    height: auto;
}

#uranus {
    position: absolute;
    top: 83.25%;
    transform: translateY(-50%) translateX(-50%);
    left: 34.68%;
    width: 4%;
    height: auto;
}

#neptune {
    position: absolute;
    top: 22.64%;
    transform: translateY(-50%) translateX(-50%);
    left: 95.17%;
    width: 4%;
    height: auto;
}

.stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

#selection-menu {
    width: 20vw;
    height:90%;
    margin-top:10vh;
    position: absolute;
    left: 0;
    background-color:mediumseagreen;
}

#ship-selection {
    width: 90%;
    height:32%;
    margin-top: 2%;
    background-color:mediumseagreen;
    margin-left: 5%;
    border-radius: 3%;
    border: white solid .5vw;
    position: relative;
}

.selection-text {
    color: mediumseagreen;
    text-align: center;
    width: 100.2%;
    margin-top:-.2vh;
    margin-left:-.1%
}

.selection-img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: auto;
    width: 50%;
}

#character-selection {
    width: 90%;
    height:32%;
    margin-top: 2%;
    background-color:mediumseagreen;
    margin-left: 5%;
    border-radius: 3%;
    border: white solid 1vh;
    position: relative;
}

#upgrade-selection {
    width: 90%;
    height:32%;
    margin-top: 2%;
    background-color:mediumseagreen;
    margin-left: 5%;
    border-radius: 3%;
    border: white solid 1vh;
    position: relative;
}

#CHARACTERS {
    background-color: white;
    color: mediumseagreen;
    font-weight: bold
}

.selected:hover {
    opacity: 0.5;
}

.upgrade-image {
    height: auto;
    width: 50%;
}

.character-image {
    height: auto;
    width: 30%;
}

.ship-image {
    height: auto;
    width: 80%;
}

.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    position: fixed;
    background: cover;
    z-index:0;
}
 
.twinkling {
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    position: fixed;
    background: cover;
    z-index:0;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
 
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.previous {
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    left:3%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    text-align: center;
}

.next {
    background-color: #f1f1f1;
    color: black;
    position: absolute;
    right:3%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    text-align: center;
}

.round {
    border-radius: 50%;
}

#ship {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: auto;
    width: 30%;
    opacity: 0.5;
}


#background {
    width:100vw;
    background-image: url("../images/mars-crater.jpg");
    background-size: cover;
    height:100vh;
}

#answer-div {
    border: white solid .5vw;
    background-color:mediumseagreen;
    position: absolute;
    margin-left: 20vw;
    margin-top: 20vh;
    height: 40vh;
    width: 60vw;
    z-index: 11;
    border-radius: 3%;
    display: none;
}

#answer-one-box {
    background-color: red;
    position: absolute;
    margin-left: 5vw;
    margin-top: 5vh;
    height: 20vh;
    width: 20vw;
    z-index: 11;
    display: none;
}

#answer-two-box {
    background-color: blue;
    position: absolute;
    margin-left: 35vw;
    margin-top: 5vh;
    height: 20vh;
    width: 20vw;
    z-index: 11;
    display: none;
}

#scientist-selected {
    z-index: 10;
    position:absolute;
    height: auto;
    width: 10vw;
    margin-top: 65vh;
    margin-left: 75vw;
}

#greenhouse{
    z-index: 9;
    position:absolute;
    margin-top: 0;
    height: auto;
    width: 15vw;
    margin-top: 65vh;
    margin-left: 10vw;
}

#scientist {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: auto;
    width: 15%;
    opacity: 0.5;
}
  
#navbar {
    top: 0;
    position: fixed;
    height: 15vh;
    width: 100%;
    background-color: mediumseagreen;
}

#ship-id {
    z-index: 10;
    position:absolute;
    margin-top: 0;
    height: auto;
    width: 30vw;
    margin-top: 30vh;
    margin-left: 35vw;
}

#speech-bubble {
    z-index: 10;
    position:absolute;
    height: auto;
    width: 20vw;
    margin-top: 46vh;
    margin-left: 59vw; 
    display: none;
}

#speech-bubble-text {
    position:relative;
    margin-top: 13%;
    margin-left: 12%;
    height: auto;
    width: 90%;
    color: mediumseagreen;
    z-index: 12;
    font-size: 1vw;
    font-weight: bold;
}

#speech-bubble-image {
    position:absolute;
    height: auto;
    width: 100%;
    color: mediumseagreen;
    z-index: 12;
}

#character-populate {
    position:absolute;
    margin-top: 0;
    height: 13vh;
    width:30vw;
    margin-left: 20vw;
    background-color: mediumseagreen;
    color:white;
    margin-top: 1vh;
    text-align: center;
    font-size: 2vh;
    border: white solid .5vw;
}

#upgrade-populate {
    position:absolute;
    margin-top: 0;
    height: 13vh;
    width:30vw;
    margin-left: 60vw;
    background-color: mediumseagreen;
    color:white;
    margin-top: 1vh;
    text-align: center;
    font-size: 2vh;
    border: white solid .5vw;
}

#resources-box {
    position:absolute;
    margin-top: 0;
    width: 20vw;
    height: 10vh;
    background-color: mediumseagreen;
    color:white;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
}

.character-populate {
    float:center;
    position: relative;
    margin-top: 1vh;
    height: 6vh;
    width:3vw;
    background-color: gray;
    border: .2vh solid white;
}

.upgrade-populate {
    float:center;
    position: relative;;
    margin-top: 1vh;
    width: 3vw;
    height: 6vh;
    background-color: gray;
    border: .2vh solid  white;
}

.modal-display {
    width: 100%;
    height: 45vh;
}

.popup {
    height: 20vh;
    width:20vw;
    margin-left: 25vw;
    margin-top:5vh;
    background-color: white;
    position: absolute;
    border-radius: 3%;
    color: mediumseagreen;
    display: none;
}

#popup-text{
    font-size: 1.5vw;
    text-align: center;
    background-color: mediumseagreen;
    color: white;

}

#ship-text {
    font-size: 2vh;
    text-align: center
}

.falling-rocks {
    height: auto;
    width: 5vw;
    margin-top:30vh;
    position: absolute;
}

.animation-earth-to-mars {
    animation: animation-earth-to-mars 4000ms linear both;
    
    }
    @keyframes animation-earth-to-mars { 
    0% {  top: 61.07%; left:69.07%; margin-top: -1.75%; transform: rotate(0deg) translateY(-50%) translateX(-50%); }
    50% { top: 49.5%; left:70.49%; margin-top: -1.75%; transform:rotate(15deg) translateY(-50%) translateX(-50%);} 
    90% { top: 36%; left:71.9%; margin-top: -1.75%; transform:rotate(0deg) translateY(-50%) translateX(-50%);} 
    95% { top: 37%; left:71.9%; margin-top: -1.75%; transform:rotate(0deg) translateY(-50%) translateX(-50%);} 
    100% { top: 38%; left:71.9%; margin-top: -1.75%; transform:rotate(0deg) translateY(-50%) translateX(-50%);} 
}

.animation-earth-to-venus {
    animation: animation-earth-to-venus 5000ms linear both;
    
    }
    @keyframes animation-earth-to-venus { 
    0% {  top: 61.07%; left:69.07%; margin-top: -1.75%; transform: rotate(0deg) translateY(-50%) translateX(-50%); }
    50% { top: 51.5%; left:54.49%; margin-top: -1.75%; transform:rotate(-45deg) translateY(-50%) translateX(-50%);} 
    90% { top: 39%; left:49.05%; margin-top: -1.75%; transform:rotate(0deg) translateY(-50%) translateX(-50%);} 
    95% { top: 40%; left:49.05%; margin-top: -1.75%; transform:rotate(0deg) translateY(-50%) translateX(-50%);} 
    100% { top: 41.05%; left:49.05%; margin-top: -1.75%; transform:rotate(0deg) translateY(-50%) translateX(-50%);} 
}
    
.animation-mars-to-earth {
    animation: animation-mars-to-earth 6000ms linear both;
    
    }
    @keyframes animation-mars-to-earth { 
    0% { top: 38%; left:71.9%; margin-top: -1.75%; transform:rotate(0deg) translateY(-50%) translateX(-50%);} 
    25% { top: 34%; left:73.9%; margin-top: -1.75%; transform:rotate(120deg) translateY(-50%) translateX(-50%);} 
    50% { top: 49%; left:77.9%; margin-top: -1.75%; transform:rotate(190deg) translateY(-50%) translateX(-50%);} 
    75% { top: 60%; left:74.9%; margin-top: -1.75%; transform:rotate(270deg) translateY(-50%) translateX(-50%);} 
    100% {  top: 61.07%; left:69.07%; margin-top: -1.75%; transform: rotate(360deg) translateY(-50%) translateX(-50%); }
}
    
.rockslide0 {
    animation: rockslide0 2000ms linear both;
    }
    @keyframes rockslide0 { 
    0% { transform: translateY(0vw)} 
    100% { transform: translateY(20vw)} 
}

.rockslide1 {
    animation: rockslide1 2000ms linear both;
    }
    @keyframes rockslide1 { 
    0% { transform: translateY(0vw)} 
    100% { transform: translateY(17vw)} 
}

.rockslide2 {
    animation: rockslide2 2000ms linear both;
    }
    @keyframes rockslide2 { 
    0% { transform: translateY(0vw)} 
    100% { transform: translateY(14vw)} 
}

.rockslide3 {
    animation: rockslide3 2000ms linear both;
    }
    @keyframes rockslide3 { 
    0% { transform: translateY(0vw)} 
    100% { transform: translateY(11vw)} 
}
    